.swiper-slide {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 6rem;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -10;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.main--info {
    position: absolute;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    backdrop-filter: blur(2px);
    padding: 2rem;
    border-radius: 2rem;
}

.swiper-slide .title {
    font-size: 4rem;
    font-family: var(--secondary--font);
}

.subtitle {
    color: #d39229;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.swiper-slide .text {
    font-size: 1rem;
    max-width: 600px;
    line-height: 1.3;
}

.main--btn {
    width: max-content;
    padding: 1rem 2rem;
    background: transparent;
    font: inherit;
    cursor: pointer;
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.3s ease-in-out !important;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.main--btn:hover {
    letter-spacing: 2px;
}