@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
    --primary--font: 'Lato', sans-serif;
    --secondary--font: 'Mynerve', sans-serif;
    --third--font: 'Sacramento', sans-serif;
    --gold: #d39229;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary--font);
    overflow-x: hidden;
    overflow-x: hidden;
}

/* TO SET ANIMATION DURATION FOR UP TO 4000MS */
body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
}